section.decals.wrap-overflow
    div.breadcrumbs
        div.container.breadcrumbs__flex
            a.breadcrumbs__link(href="") Home
            a.breadcrumbs__link(href="") Decals/Signage
            a.breadcrumbs__link(href="") Banners

    div.container
        div.title-bordered
            p Decals/<span>Signage</span>
            small Banners

        div.side-block.side-block--t63
            div.side-block__content.side-block__content--w457
                div.side-block__title Banner printing service
                div.side-block__text
                    p If your art department has already created the print ready art, great! Our banner printing service is perfect for you. Simply send us your file with all the specifics (size, material, quantity, etc.) and we’ll have it printed and produced to your specifications.
                    p Our many years of experience result in getting you the customer what you want when you need it and done right the first time
            div.side-block__img
                img(src="img/content/decals/banners1.png" alt="")

        div.side-block.side-block--reverse.side-block--t100
            div.side-block__content.side-block__content--w436
                div.side-block__title Large format banners
                div.side-block__text
                    p We have four large format printers from 64” to 104” wide by any length printing capabilities. Anything over and we will seam the panels together to make any size banner you need.
                    p The typical banner is made from a 13 oz. Outdoor vinyl. If you are surrounding a new construction fence or hanging a stage banner you likely need a “Mesh / Blow thru” banner material. Need help deciding what’s the right material for your project? Just give us a call we are here to help.
            div.side-block__img
                img(src="img/content/decals/banners2.png" alt="")

section.main-examples
    .container
        .main-examples__title
            span projects
            p Large format banner
        .main-examples__cards
            .main-examples__card
                span
                img(src='img/content/main/after.png', alt='')
            .main-examples__card
                span
                img(src='img/content/main/after.png', alt='')
            .main-examples__card
                span
                img(src='img/content/main/after.png', alt='')
            .main-examples__card
                span
                img(src='img/content/main/after.png', alt='')
            .main-examples__card
                span
                img(src='img/content/main/after.png', alt='')
            .main-examples__card
                span
                img(src='img/content/main/after.png', alt='')
            .main-examples__card
                span
                img(src='img/content/main/after.png', alt='')

include ../contacts.pug