section.decals.wrap-overflow
    div.breadcrumbs
        div.container.breadcrumbs__flex
            a.breadcrumbs__link(href="") Home
            a.breadcrumbs__link(href="") Decals/Signage
            a.breadcrumbs__link(href="") Signs

    div.container
        div.title-bordered
            p Decals/<span>Signage</span>
            small Signs

        div.side-block.side-block--t63
            div.side-block__content.side-block__content--w457
                div.side-block__title Your sign & banner design headquarters
                div.side-block__text
                    p Custom signs and banners offer you a creative and personal way to advertise your business, event or organization. Banners are low cost, portable ads that can be used for any occasion or promotion.
                    p We have many years of experience working with all types of businesses in various industries. Our design team will create the right look and feel for the message you are trying to convey.

            div.side-block__img
                img(src="img/content/decals/signs1.png" alt="")

        div.side-block.side-block--reverse.side-block--t100
            div.side-block__content.side-block__content--w436
                div.side-block__title High quality service & production expertise
                div.side-block__text
                    p At In Sight Sign Company, we provide our customers with the perfect intersection of quality and affordability.
                    p Our goal is to create a custom sign or banner that will meet or exceed your expectations. We are determined to provide you with the best possible product and service.

            div.side-block__img
                img(src="img/content/decals/signs2.png" alt="")

section.main-examples
    .container
        div.title
            p <span>Our</span> projects
            small Custom sign
        .main-examples__cards
            .main-examples__card
                span
                img(src='img/content/main/after.png', alt='')
            .main-examples__card
                span
                img(src='img/content/main/after.png', alt='')
            .main-examples__card
                span
                img(src='img/content/main/after.png', alt='')
            .main-examples__card
                span
                img(src='img/content/main/after.png', alt='')
            .main-examples__card
                span
                img(src='img/content/main/after.png', alt='')
            .main-examples__card
                span
                img(src='img/content/main/after.png', alt='')
            .main-examples__card
                span
                img(src='img/content/main/after.png', alt='')

include ../contacts.pug