section.decals.color-change.decals--b120.wrap-overflow
    div.breadcrumbs
        div.container.breadcrumbs__flex
            a.breadcrumbs__link(href="") Home
            a.breadcrumbs__link(href="") Corporate branding
            a.breadcrumbs__link(href="") Office

    div.container
        div.title-bordered
            p Corporate<span>branding</span>
            small Office

        div.side-block.side-block--t100
            div.side-block__content.side-block__content--w436
                div.side-block__title Drive customers into your location
                div.side-block__text
                    p In Sight Sign Company has a wide range of outdoor signs available for our Chicago area customers.
                    p Among these are our popular sidewalk signs. They are a great way to get your message out in front of customers that are walking or driving by your location.

            div.side-block__img
                img(src="img/content/car-wrapping/color-change1.png" alt="")

        div.side-block.side-block--reverse.side-block--t100
            div.side-block__content.side-block__content--w436
                div.side-block__title Increase message visibility
                div.side-block__text
                    p Sidewalk signs are an easy way to expand your branding at multiple locations. They also provide an opportunity to advertise on the street where you cannot place a permanent sign.
                    p At In Sight Sign Company, we craft these signs in a manner that ensures they will last for a long time. Order yours in bulk to obtain even more affordable pricing.

            div.side-block__img
                img(src="img/content/car-wrapping/color-change1.png" alt="")

section.main-examples
    .container
        div.title
            p <span>our</span> projects
            small custom sign
        .main-examples__cards
            .main-examples__card
                span
                img(src='img/content/main/after.png', alt='')
            .main-examples__card
                span
                img(src='img/content/main/after.png', alt='')
            .main-examples__card
                span
                img(src='img/content/main/after.png', alt='')
            .main-examples__card
                span
                img(src='img/content/main/after.png', alt='')
            .main-examples__card
                span
                img(src='img/content/main/after.png', alt='')
            .main-examples__card
                span
                img(src='img/content/main/after.png', alt='')
            .main-examples__card
                span
                img(src='img/content/main/after.png', alt='')

include ../contacts.pug

section.main-brand
    .container
        a.main-brand__item(href="")
            img(src='img/content/main/logo.png', alt='')
        a.main-brand__item(href="")
            img(src='img/content/main/logo1.png', alt='')
        a.main-brand__item(href="")
            img(src='img/content/main/logo.png', alt='')
        a.main-brand__item(href="")
            img(src='img/content/main/logo1.png', alt='')
        a.main-brand__item(href="")
            img(src='img/content/main/logo.png', alt='')
        a.main-brand__item(href="")
            img(src='img/content/main/logo1.png', alt='')
        a.main-brand__item(href="")
            img(src='img/content/main/logo.png', alt='')