section.decals.decals--b120.color-change.wrap-overflow
    div.breadcrumbs
        div.container.breadcrumbs__flex
            a.breadcrumbs__link(href="") Home
            a.breadcrumbs__link(href="") Auto graphics
            a.breadcrumbs__link(href="") Commercial branding
            a.breadcrumbs__link(href="") Trailer

    div.container
        div.title.title--black
            p Clean branding
            small The Truck & Fleet Wrap Experts

        div.side-block.side-block--reverse.side-block--t100
            div.side-block__content.side-block__content--w436
                div.side-block__title Using trucks and trailers
                div.side-block__text
                    p Using trucks and trailers for your vehicle wrap advertising plan is a smart idea, especially if your company is within an industry that performs a lot of shipping.
                    p That is because they will get seen by people throughout a much wider region than most other vehicle wraps, because trucks and trailers are likely to be traveling constantly to make their deliveries.

            div.side-block__img
                img(src="img/content/car-wrapping/color-change1.png" alt="")

        div.side-block.side-block--t100
            div.side-block__content.side-block__content--w436
                div.side-block__title Turn your company truck into a mobile advertising display
                div.side-block__text
                    p Trailers and buses are especially suited for vehicle wrap advertisements because of their broad, box-like shape, as opposed to the more curved nature of standard cars. Don’t let all that space go wasted. Turn your company truck into a mobile advertising display!

            div.side-block__img
                img(src="img/content/car-wrapping/color-change1.png" alt="")

section.main-examples
    .container
        div.title-bordered.title--black
            p
                span Projects
            small truck & Fleet Wrap Examples
        .main-examples__cards
            .main-examples__card
                span
                img(src='img/content/main/after.png', alt='')
            .main-examples__card
                span
                img(src='img/content/main/after.png', alt='')
            .main-examples__card
                span
                img(src='img/content/main/after.png', alt='')
            .main-examples__card
                span
                img(src='img/content/main/after.png', alt='')
            .main-examples__card
                span
                img(src='img/content/main/after.png', alt='')
            .main-examples__card
                span
                img(src='img/content/main/after.png', alt='')
            .main-examples__card
                span
                img(src='img/content/main/after.png', alt='')

include ../contacts.pug

section.main-brand
    .container
        a.main-brand__item(href="")
            img(src='img/content/main/logo.png', alt='')
        a.main-brand__item(href="")
            img(src='img/content/main/logo1.png', alt='')
        a.main-brand__item(href="")
            img(src='img/content/main/logo.png', alt='')
        a.main-brand__item(href="")
            img(src='img/content/main/logo1.png', alt='')
        a.main-brand__item(href="")
            img(src='img/content/main/logo.png', alt='')
        a.main-brand__item(href="")
            img(src='img/content/main/logo1.png', alt='')
        a.main-brand__item(href="")
            img(src='img/content/main/logo.png', alt='')