main.wrap-overflow
  section.hero-banner
    .hero-banner__top
      .container
        .hero-banner__title
          p HOT
          span offers
        .hero-banner__pdf
          a.hero-banner__pdf_item(href='#')
            img(src='img/illustration/pdf.svg', alt='')
            span Download PDF
    .hero-banner__tabs
      .wrapper
        .tab_content
          .tab_item
            .container
              .tab-slider
                a.tab-slider__slide(href="")
                  img(src='img/content/main/slider.png', alt='')
                  div.tab-slider__cover
                  div.tab-slider__text
                      | Now ava
                      span norma land distressed
                a.tab-slider__slide(href="")
                  img(src='img/content/main/slider.png', alt='')
                  div.tab-slider__cover
                  div.tab-slider__text
                      | Now ava
                      span norma land distressed
                a.tab-slider__slide(href="")
                  img(src='img/content/main/slider.png', alt='')
                  div.tab-slider__cover
                  div.tab-slider__text
                      | Now ava
                      span norma land distressed
                a.tab-slider__slide(href="")
                  img(src='img/content/main/slider.png', alt='')
                  div.tab-slider__cover
                  div.tab-slider__text
                      | Now ava
                      span norma land distressed
              .tab_item_foto
                .tab_item_foto_item
                  img(src='img/content/main/1.png', alt='')
                .tab_item_foto_item
                  img(src='img/content/main/2.png', alt='')
          .tab_item
            .container
              .tab-slider
                a.tab-slider__slide(href="")
                  img(src='img/content/main/slider.png', alt='')
                  div.tab-slider__cover
                  div.tab-slider__text
                    | Now ava
                    span norma land distressed
                a.tab-slider__slide(href="")
                  img(src='img/content/main/slider.png', alt='')
                  div.tab-slider__cover
                  div.tab-slider__text
                    | Now ava
                    span norma land distressed
                a.tab-slider__slide(href="")
                  img(src='img/content/main/slider.png', alt='')
                  div.tab-slider__cover
                  div.tab-slider__text
                    | Now ava
                    span norma land distressed
                a.tab-slider__slide(href="")
                  img(src='img/content/main/slider.png', alt='')
                  div.tab-slider__cover
                  div.tab-slider__text
                    | Now ava
                    span norma land distressed
              .tab_item_foto
                .tab_item_foto_item
                  img(src='img/content/main/2.png', alt='')
                .tab_item_foto_item
                  img(src='img/content/main/1.png', alt='')
          .tab_item
            .container
              .tab-slider
                a.tab-slider__slide(href="")
                  img(src='img/content/main/slider.png', alt='')
                  div.tab-slider__cover
                  div.tab-slider__text
                    | Now ava
                    span norma land distressed
                a.tab-slider__slide(href="")
                  img(src='img/content/main/slider.png', alt='')
                  div.tab-slider__cover
                  div.tab-slider__text
                    | Now ava
                    span norma land distressed
                a.tab-slider__slide(href="")
                  img(src='img/content/main/slider.png', alt='')
                  div.tab-slider__cover
                  div.tab-slider__text
                    | Now ava
                    span norma land distressed
                a.tab-slider__slide(href="")
                  img(src='img/content/main/slider.png', alt='')
                  div.tab-slider__cover
                  div.tab-slider__text
                    | Now ava
                    span norma land distressed
              .tab_item_foto
                .tab_item_foto_item
                  img(src='img/content/main/1.png', alt='')
                .tab_item_foto_item
                  img(src='img/content/main/2.png', alt='')
          .tab_item
            .container
              .tab-slider
                a.tab-slider__slide(href="")
                  img(src='img/content/main/slider.png', alt='')
                  div.tab-slider__cover
                  div.tab-slider__text
                    | Now ava
                    span norma land distressed
                a.tab-slider__slide(href="")
                  img(src='img/content/main/slider.png', alt='')
                  div.tab-slider__cover
                  div.tab-slider__text
                    | Now ava
                    span norma land distressed
                a.tab-slider__slide(href="")
                  img(src='img/content/main/slider.png', alt='')
                  div.tab-slider__cover
                  div.tab-slider__text
                    | Now ava
                    span norma land distressed
                a.tab-slider__slide(href="")
                  img(src='img/content/main/slider.png', alt='')
                  div.tab-slider__cover
                  div.tab-slider__text
                    | Now ava
                    span norma land distressed
              .tab_item_foto
                .tab_item_foto_item
                  img(src='img/content/main/2.png', alt='')
                .tab_item_foto_item
                  img(src='img/content/main/1.png', alt='')
          .tab_item
            .container
              .tab-slider
                a.tab-slider__slide(href="")
                  img(src='img/content/main/slider.png', alt='')
                  div.tab-slider__cover
                  div.tab-slider__text
                    | Now ava
                    span norma land distressed
                a.tab-slider__slide(href="")
                  img(src='img/content/main/slider.png', alt='')
                  div.tab-slider__cover
                  div.tab-slider__text
                    | Now ava
                    span norma land distressed
                a.tab-slider__slide(href="")
                  img(src='img/content/main/slider.png', alt='')
                  div.tab-slider__cover
                  div.tab-slider__text
                    | Now ava
                    span norma land distressed
                a.tab-slider__slide(href="")
                  img(src='img/content/main/slider.png', alt='')
                  div.tab-slider__cover
                  div.tab-slider__text
                    | Now ava
                    span norma land distressed
              .tab_item_foto
                .tab_item_foto_item
                  img(src='img/content/main/1.png', alt='')
                .tab_item_foto_item
                  img(src='img/content/main/2.png', alt='')
        .container
          .tabs
            span.tab Auto Graphics
            span.tab Premiss Graphics
            span.tab Decals/Signage
            span.tab Design/Printing
            span.tab Web design
  section.main-about
    .container
      .main-about__title
        .main-about__title_top
          p
            | about
            span us
        .main-about__title_btn
          p wisse print
      .main-about__desc
        .main-about__desc_media
          .main-about__desc_media_btn.btn-play
        .main-about__desc_text
          .main-about__desc_text_title
            p Who we are
          .main-about__desc_text_body
            p
              | Car wraps are branding or advertisements that either partially or completely cover a vehicle. At In Sight
              | Sign Company, our in house installers work at the highest level of vehicle wrap installation there is. We
              | do it all in-house design, print and install, start to finish so rest assured, you are getting the best
              | car wrap possible.
              | In addition to car wraps, In Sight Sign Company can wrap any type of vehicle: semi trucks and trailers,
              | box trucks, buses, shuttle buses, SUV&rsquo;s and more! (Sorry, no motorcycles, helmets or bicycles.)
          a.main-about__desc_text_btn.btn(href='#')
            | learn more
            i.i-btn
  section.main-services
    .container
      .main-services__title
        p
          span our
          |  services
      .main-services__desc
        .main-services__desc_text
          .main-about__desc_text_title
            p
              | Maximize
              br
              |  business exposure
          .main-about__desc_text_body
            p
              | Car wraps and vehicle graphics are extremely effective for vehicles that are always on the road or just
              | parked in front of your business. They are also perfect for short term special events and promotions. Car
              | wraps allow you to reach a much larger audience just by driving your vehicle day to day.
              | Our eye catching designs will turn heads and get people talking about your business. Allow In Sight Sign
              | Company to work with you to create a visually striking design for your vehicle wrap that is certain to
              | catch the attention of people throughout the Chicagoland area
        .main-services__desc_cards
          .main-services__desc_card
            .main-services__desc_card_img
            .main-services__desc_card_title
              p Free delivery
            .main-services__desc_card_subtitle
              p We are committed to you successfully installing our vinyl products.
          .main-services__desc_card
            .main-services__desc_card_img
            .main-services__desc_card_title
              p Replacement parts
            .main-services__desc_card_subtitle
              p We are committed to you successfully installing our vinyl products.
          .main-services__desc_card
            .main-services__desc_card_img
            .main-services__desc_card_title
              p 30 days return
            .main-services__desc_card_subtitle
              p We are committed to you successfully installing our vinyl products.
          .main-services__desc_card
            .main-services__desc_card_img
            .main-services__desc_card_title
              p Support
            .main-services__desc_card_subtitle
              p We are committed to you successfully installing our vinyl products.
      .cocoen
        img(src='img/content/main/before.png', alt='')
        img(src='img/content/main/after.png', alt='')
  section.main-examples
    .container
      .main-examples__title
        span projects
        p Vehicle Wrap Examples
      .main-examples__cards
        .main-examples__card
          span
          img(src='img/content/main/after.png', alt='')
        .main-examples__card
          span
          img(src='img/content/main/after.png', alt='')
        .main-examples__card
          span
          img(src='img/content/main/after.png', alt='')
        .main-examples__card
          span
          img(src='img/content/main/after.png', alt='')
        .main-examples__card
          span
          img(src='img/content/main/after.png', alt='')
        .main-examples__card
          span
          img(src='img/content/main/after.png', alt='')
        .main-examples__card
          span
          img(src='img/content/main/after.png', alt='')
  section.main-contact
    .container
      .main-contact__title
        span Contact Us
        p More Information about a pattern for Your Business
      form.form.main-contact__form(action='')
        div
          input(type='text', placeholder='Contact name')
          // error span:
          //span The field is required.
        div
          input.phone-mask(type='tel', placeholder='Contact phone')
          // error span:
          //span The field is required.
        div
          input(type='email', placeholder='Your email')
          // error span:
          //span The field is required.
        button.btn(type='submit')
          | send
          i.i-btn

        // Form error message:
        //div.main-contact__error
          span One a more fields have an error. Please check and try again

  section.main-brand
    .container
      a.main-brand__item(href="")
        img(src='img/content/main/logo.png', alt='')
      a.main-brand__item(href="")
        img(src='img/content/main/logo1.png', alt='')
      a.main-brand__item(href="")
        img(src='img/content/main/logo.png', alt='')
      a.main-brand__item(href="")
        img(src='img/content/main/logo1.png', alt='')
      a.main-brand__item(href="")
        img(src='img/content/main/logo.png', alt='')
      a.main-brand__item(href="")
        img(src='img/content/main/logo1.png', alt='')
      a.main-brand__item(href="")
        img(src='img/content/main/logo.png', alt='')