section.decals.decals--b120.color-change.wrap-overflow
    div.breadcrumbs
        div.container.breadcrumbs__flex
            a.breadcrumbs__link(href="") Home
            a.breadcrumbs__link(href="") Auto graphics
            a.breadcrumbs__link(href="") Car wrapping
            a.breadcrumbs__link(href="") Window/lights tinting

    div.container
        div.title-bordered
            p Car<span>Wrapping</span>
            small Window/Lights tinting

        div.side-block.side-block--reverse.side-block--t100
            div.side-block__content.side-block__content--w436
                div.side-block__title Upgrade your car with a new look
                div.side-block__text
                    p Give your high performance car or luxury vehicle a fresh, unique look with a solid color change wrap. These type of solid color wraps generally are more labor intensive than commercial vehicle wraps.
                    p This is because the car wrap has to cover the entire vehicle so no original colors show through. Your vehicle’s exterior will need to be cleaned thoroughly for install and we will take extra care to make the color wrap to appear seamless.

            div.side-block__img
                img(src="img/content/car-wrapping/color-change1.png" alt="")

        div.color-change__video-title
            div.title-bordered
                p Watch <span>Video</span>
                small More content

        div.color-change__video
            button.color-change__video-play.btn-play

section.main-examples
    .container
        div.title-bordered.title--black
            p
                span projects
            small lights tinting Examples
        .main-examples__cards
            .main-examples__card
                span
                img(src='img/content/main/after.png', alt='')
            .main-examples__card
                span
                img(src='img/content/main/after.png', alt='')
            .main-examples__card
                span
                img(src='img/content/main/after.png', alt='')
            .main-examples__card
                span
                img(src='img/content/main/after.png', alt='')
            .main-examples__card
                span
                img(src='img/content/main/after.png', alt='')
            .main-examples__card
                span
                img(src='img/content/main/after.png', alt='')
            .main-examples__card
                span
                img(src='img/content/main/after.png', alt='')

include ../contacts.pug

section.main-brand
    .container
        a.main-brand__item(href="")
            img(src='img/content/main/logo.png', alt='')
        a.main-brand__item(href="")
            img(src='img/content/main/logo1.png', alt='')
        a.main-brand__item(href="")
            img(src='img/content/main/logo.png', alt='')
        a.main-brand__item(href="")
            img(src='img/content/main/logo1.png', alt='')
        a.main-brand__item(href="")
            img(src='img/content/main/logo.png', alt='')
        a.main-brand__item(href="")
            img(src='img/content/main/logo1.png', alt='')
        a.main-brand__item(href="")
            img(src='img/content/main/logo.png', alt='')