.main-brand {
  padding-top: 53px;
  padding-bottom: 49px;
  background-color: black;
  border-bottom: 1px solid #333333;

  @media (max-width: 1499px) {
    padding: 32px 0;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}