.main-contact {
  background-image: url('img/illustration/contact.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    display: block;
    width: calc((100vw - 1180px) / 2 + 345px);
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.1);
    opacity: 0.94;
    backdrop-filter: blur(40px);

    @media (max-width: 1499px) {
      width: calc((100vw - 1180px) / 2 + 280px);
    }

    @media (max-width: $xs) {
      right: 97px;
      width: 1px;
      backdrop-filter: none;
      background: rgba(255,255,255,0.21);
    }
  }

  .container {
    position: relative;
    z-index: 2;
    padding-top: 112px;
    padding-bottom: 118px;

    @media (max-width: $sm) {
      padding: 50px 0;
    }

    @media (max-width: $xs) {
      padding-top: 44px;
    }

    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 200px;
      top: 0;
      bottom: 0;
      left: -32px;
      background: rgba(255, 255, 255, 0.1);
      opacity: 0.94;
      backdrop-filter: blur(40px);

      @media (max-width: 1499px) {
        left: -5px;
      }

      @media (max-width: $xs) {
        left: 10px;
        width: 133px;
      }
    }

    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 123px;
      top: 0;
      bottom: 0;
      left: 248px;
      background: rgba(255, 255, 255, 0.1);
      opacity: 0.94;
      backdrop-filter: blur(40px);

      @media (max-width: 1499px) {
        left: 275px;
      }

      @media (max-width: $xs) {
        left: auto;
        right: -10px;
        width: 87px;
      }
    }
  }

  &__title {
    position: relative;
    z-index: 3;

    span {
      font-family: $MVS;
      font-weight: bold;
      font-size: 150px;
      line-height: 150px;
      text-transform: uppercase;
      color: #FFFFFF;
      opacity: 0.18;
      text-align: center;
      width: 100%;
      display: block;

      @media (max-width: 1499px) {
        font-size: 130px;
      }

      @media (max-width: $md) {
        font-size: 100px;
        line-height: 120px;
      }

      @media (max-width: $sm) {
        font-size: 70px;
        line-height: 100px;
      }

      @media (max-width: $xs) {
        font-size: 44px;
        line-height: 44px;
      }
    }

    p {
      font-family: $Q;
      font-weight: 600;
      font-size: 56px;
      line-height: 110%;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: #FFFFFF;
      width: 641px;
      margin: 0 auto;
      position: relative;
      top: -72px;

      @media (max-width: 1499px) {
        font-size: 36px;
      }

      @media (max-width: $md) {
        top: -50px;
      }

      @media (max-width: $sm) {
        font-size: 30px;
        width: 400px;
      }

      @media (max-width: $xs) {
        width: 215px;
        font-size: 14px;
        line-height: 18px;
        top: -17px;
      }
    }
  }

  &__form {
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 3;

    @media (max-width: $sm) {
      flex-wrap: wrap;
    }

    @media (max-width: $xs) {
      margin: 16px 10px 0;
      flex-wrap: nowrap;
      flex-direction: column;
    }

    & > div {
      position: relative;
    }

    input {
      width: 230px;
      height: 66px;
      background: rgba(0, 0, 0, 0.21);
      backdrop-filter: blur(10px);
      color: black;
      padding: 0 16px;
      transition: $t;
      border: 1px solid transparent;

      @media (max-width: $xs) {
        width: 100%;
        height: 48px;
        padding: 0 14px;
        margin-top: 10px;
      }

      &::placeholder {
        color: #FFFFFF;
      }

      &:focus {
        border-color: #1393F4;
        background: rgba(19, 147, 244, 0.2);
      }

      & + span {
        display: block;
        background: #FC3752;
        box-shadow: 0px 18px 34px rgba(34, 39, 47, 0.1);
        border-radius: 2px;
        color: white!important;
        font-size: 12px!important;
        line-height: 14px;
        letter-spacing: 0.04em;
        position: absolute;
        left: 50%;
        bottom: calc(100% + 17px);
        transform: translateX(-50%);
        white-space: nowrap;
        padding: 10px 14px 10px 32px;

        &:before {
          content: '';
          display: block;
          position: absolute;
          width: 18px;
          height: 18px;
          border-radius: 2px;
          background-color: white;
          background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.91615 4.99997L9.80995 1.10605C10.0634 0.852769 10.0634 0.443246 9.80995 0.189962C9.55667 -0.0633208 9.14714 -0.0633208 8.89386 0.189962L4.99994 4.08388L1.10614 0.189962C0.85274 -0.0633208 0.443335 -0.0633208 0.190051 0.189962C-0.0633505 0.443246 -0.0633505 0.852769 0.190051 1.10605L4.08385 4.99997L0.190051 8.89389C-0.0633505 9.14717 -0.0633505 9.55669 0.190051 9.80998C0.316278 9.93632 0.482246 9.99979 0.648097 9.99979C0.813947 9.99979 0.979797 9.93632 1.10614 9.80998L4.99994 5.91606L8.89386 9.80998C9.0202 9.93632 9.18605 9.99979 9.3519 9.99979C9.51775 9.99979 9.6836 9.93632 9.80995 9.80998C10.0634 9.55669 10.0634 9.14717 9.80995 8.89389L5.91615 4.99997Z' fill='%23FF556D'/%3e%3c/svg%3e");
          background-position: center;
          background-repeat: no-repeat;
          left: 10px;
          top: 8px;
        }

        &:after {
          content: '';
          display: block;
          position: absolute;
          width: 14px;
          height: 7px;
          background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='7' viewBox='0 0 14 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14 0H0L7 7L14 0Z' fill='%23FC3752'/%3e%3c/svg%3e");
          bottom: -4px;
          left: calc(50% - 7px);
        }
      }
    }

    .btn {
      height: 66px;

      @media (max-width: $sm) {
        margin: 16px auto 0;
      }

      @media (max-width: $xs) {
        margin: 10px auto 0;
        height: 48px;
        width: 100%;
      }
    }
  }

  &__error {
    position: absolute!important;
    background: rgba(255, 255, 255, 0.34);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    backdrop-filter: blur(7px);
    border-radius: 2px;
    padding: 9px;
    top: calc(100% + 14px);
    left: 50%;
    transform: translateX(-50%);

    span {
      display: block;
      background: #FC3752;
      box-shadow: 0px 18px 34px rgba(34, 39, 47, 0.1);
      border-radius: 2px;
      color: white !important;
      font-size: 12px !important;
      line-height: 14px;
      letter-spacing: 0.04em;
      white-space: nowrap;
      padding: 10px 14px 10px 32px;
      position: relative;

      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 2px;
        background-color: white;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.91615 4.99997L9.80995 1.10605C10.0634 0.852769 10.0634 0.443246 9.80995 0.189962C9.55667 -0.0633208 9.14714 -0.0633208 8.89386 0.189962L4.99994 4.08388L1.10614 0.189962C0.85274 -0.0633208 0.443335 -0.0633208 0.190051 0.189962C-0.0633505 0.443246 -0.0633505 0.852769 0.190051 1.10605L4.08385 4.99997L0.190051 8.89389C-0.0633505 9.14717 -0.0633505 9.55669 0.190051 9.80998C0.316278 9.93632 0.482246 9.99979 0.648097 9.99979C0.813947 9.99979 0.979797 9.93632 1.10614 9.80998L4.99994 5.91606L8.89386 9.80998C9.0202 9.93632 9.18605 9.99979 9.3519 9.99979C9.51775 9.99979 9.6836 9.93632 9.80995 9.80998C10.0634 9.55669 10.0634 9.14717 9.80995 8.89389L5.91615 4.99997Z' fill='%23FF556D'/%3e%3c/svg%3e");
        background-position: center;
        background-repeat: no-repeat;
        left: 10px;
        top: 8px;
      }
    }
  }
}