.main-services {
  background: #1d1d1d;
  position: relative;
  padding-bottom: 100px;

  @media (max-width: $xs) {
    padding: 0 0 39px;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 128px;
    height: 100%;
    width: calc((100vw - 1180px) / 2 + 695px);
    background-color: black;

    @media (max-width: 1499px) {
      top: 120px;
    }

    @media (max-width: $md) {
      top: 110px;
    }

    @media (max-width: $sm) {
      top: 100px;
      width: calc((100vw - 708px) / 2 + 400px);
    }

    @media (max-width: $xs) {
      width: 100vw;
      top: 115px;
      bottom: 0;
      height: auto;
    }
  }

  .container {
    max-width: 1146px;
    position: relative;

    @media (max-width: $xs) {
      padding-top: 34px;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 126px;
      width: 1px;
      height: 120px;
      background: rgba(255, 255, 255, 0.1);

      @media (max-width: $md) {
        height: 110px;
      }

      @media (max-width: $xs) {
        right: 40px;
        height: 115px;
      }
    }
  }

  &__title {
    font-family: $MVS;
    font-weight: bold;
    font-size: 150px;
    line-height: 150px;
    text-transform: uppercase;

    @media (max-width: 1499px) {
      font-size: 130px;
    }

    @media (max-width: $md) {
      font-size: 100px;
    }

    @media (max-width: $sm) {
      font-size: 70px;
    }

    @media (max-width: $xs) {
      font-size: 44px;
      line-height: 44px;
    }

    span {
      color: #EA0074;

      @media (max-width: $xs) {
        display: block;
      }
    }
  }

  &__desc {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 50px;

    @media (max-width: $md) {
      align-items: center;
    }

    @media (max-width: $sm) {
      padding-bottom: 0;
    }

    @media (max-width: $xs) {
      flex-direction: column;
    }

    &_text {
      max-width: 404px;
      width: 100%;
      padding-top: 154px;

      @media (max-width: $md) {
        max-width: 330px;
        padding-top: 0;
      }

      @media (max-width: $sm) {
        max-width: 300px;
      }

      @media (max-width: $xs) {
        max-width: 100%;
        margin-top: 29px;
      }
    }

    &_cards {
      width: 100%;
      max-width: 595px;
      height: 630px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 58px;
      position: relative;

      @media (max-width: $md) {
        max-width: 540px;
        margin-top: 0;
      }

      @media (max-width: $sm) {
        max-width: 360px;
      }

      @media (max-width: $xs) {
        max-width: 100%;
        margin-top: 16px;
        height: auto;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
      }
    }

    &_card {
      width: 274.23px;
      height: 273.02px;
      padding: 35px;
      background: #141414;

      @media (max-width: $md) {
        width: calc(50% - 16px);
      }

      @media (max-width: $sm) {
        padding: 12px;
        height: 250px;
      }

      @media (max-width: $xs) {
        width: 230px;
        height: auto;
        margin-top: 10px;
        padding: 20px;
      }

      &_img {
        width: 60px;
        height: 60px;
        background-image: url('img/content/main/ser.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-bottom: 20px;

        @media (max-width: $sm) {
          width: 40px;
          height: 40px;
          margin-bottom: 16px;
        }

        @media (max-width: $xs) {
          margin-bottom: 12px;
        }
      }

      &_title {
        font-family: $Q;
        font-weight: 500;
        font-size: 21px;
        line-height: 25px;
        letter-spacing: 0.554878px;
        color: #FFFFFF;
        padding-bottom: 24px;

        @media (max-width: $xs) {
          font-size: 18px;
          line-height: 22px;
          padding-bottom: 18px;
        }
      }

      &_subtitle {
        line-height: 164%;
        color: #FFFFFF;
        opacity: 0.5;

        @media (max-width: $xs) {
          font-size: 12px;
          line-height: 144%;
        }
      }
    }
  }
}