.cocoen {
  height: 606px;
  border: none !important;

  @media (max-width: $md) {
    height: 500px;
  }

  @media (max-width: $sm) {
    height: 400px;
  }

  @media (max-width: $xs) {
    margin-top: 30px;
    height: 208px;
  }

  img {
    height: 100%;
  }

  .cocoen-drag {
    &:before {
      background-image: url('img/illustration/cocoen.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 70.37px;
      height: 70.37px;
      border: none;
      margin-left: -35px;

      @media (max-width: $xs) {
        width: 34px;
        height: 34px;
        margin-left: -17px;
      }
    }
  }
}