.credits {
  padding: 69px 0 84px;
  background: black;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  @media (max-width: 1499px) {
    padding: 77px 0;
  }

  &__flex {
    display: flex;
  }

  &__side {
    width: 485px;
    margin-right: 65px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__title {
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.34);
    margin-top: 50px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__info {
    margin-top: 15px;
    font-family: $MVS;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.04em;
    color: white!important;
  }
}