section.contacts.wrap-overflow
    div.contacts__bg

    div.breadcrumbs
        div.container.breadcrumbs__flex
            a.breadcrumbs__link(href="") Home
            a.breadcrumbs__link(href="") Contact us

    div.container
        div.title
            p <span>Contact</span> us
            small Contact information

        div.contacts__flex
            div.contacts__content
                div.contacts__title Let’s talk!
                div.contacts__text
                    p We’d love to hear what you are working on. Drop us a note here and we’ll get back to you within 24 hours.

                form.contacts-form
                    div.contacts-form__flex
                        div.contacts-form__item
                            div.contacts-form__icon.contacts-form__icon--user
                            input.contacts-form__input(type="text")
                            // error span:
                            //span The field is required.
                            label.contacts-form__label Your name <span>*</span>
                        div.contacts-form__item
                            div.contacts-form__icon.contacts-form__icon--email
                            input.contacts-form__input(type="text")
                            // error span:
                            //span The field is required.
                            label.contacts-form__label Email address <span>*</span>
                    div.contacts-form__item
                        div.contacts-form__icon.contacts-form__icon--phone
                        input.contacts-form__input.phone-mask(type="tel")
                        // error span:
                        //span The field is required.
                        label.contacts-form__label Phone number <span>*</span>
                    div.contacts-form__item
                        div.contacts-form__icon.contacts-form__icon--comment
                        textarea.contacts-form__textarea
                        label.contacts-form__label Your message

                    button.contacts-form__button.btn
                        | send
                        i.i-btn

                    // Form error message:
                    //div.contacts-form__error
                        span One a more fields have an error. Please check and try again

            div.contacts__map
                img(src="img/content/map.png")

section.credits
    div.container.credits__flex
        div.credits__side
            div.credits__title Our phone
            div.credits__info 773-267-4002

            div.credits__title Our email
            div.credits__info info@wisseprint.com

        div.credits__side
            div.credits__title Our address
            div.credits__info 3910 W. Grand Ave. Chicago, IL 60651
