footer.footer
    div.container
        div.footer__desc
            div.footer__desc_logo
                img(src='img/illustration/logo-footer.svg', alt='')
            div.footer__desc_text
                p Loren Ipsum with a leading third-party logistics provider that can empower.
        div.footer__columns
          ul
            li.bold
              a(href='#') Auto Graphics
            li
              a(href='#') Commercial branding
            li
              a(href='#') Truck
            li
              a(href='#') Trailer
            li
              a(href='#') Van
            li.bold
              a(href='#') Decals/Signage
            li
              a(href='#') Banners
            li
              a(href='#') Signs
          ul
            li.bold
              a(href='#') Premiss Graphics
            li
              a(href='#') Wall Graphics
            li
              a(href='#') Window Graphics
            li
              a(href='#') Floor graphics
            li
              a(href='#') Page
            li.bold
              a(href='#') Corporate Branding
            li
              a(href='#') Corporate Merch
            li
              a(href='#') Office
              a(href='#') Handouts
          ul
            li.bold
              a(href='#') Design/Printing
            li.bold
              a(href='#') Web design
            li.bold
              a(href='#') Who we are
            li.bold
              a(href='#') Contact Information
        div.footer__contacts
          div.footer__contacts_title
            p GET THE LATEST UPDATES ON NEW PRODUCTS AND UPCOMING SALES
          form.form.footer__contacts_form(action='')
            input(type='email', placeholder='Email address')
            button
              i.i-email
          ul.header__socials_list
            li
              a(href='')
                i.i-youtube
            li
              a(href='')
                i.i-twitter
            li
              a(href='')
                i.i-instagram
    div.container
        div.footer__bottom
            p Copyright &copy; 2020 WISSE. All rights reserved.