section.who
    div.who__line1
    div.who__line2
    div.who__line3

    div.breadcrumbs
        div.container.breadcrumbs__flex
            a.breadcrumbs__link(href="") Home
            a.breadcrumbs__link(href="") Who we are

    div.container
        div.title.title--black
            p <span>Who</span> we are
            small about us

        div.who__wisse
            img(src="img/content/who-we-are/who1.png")

        div.side-block.who__side-block
            div.side-block__content
                div.side-block__title History success wisse
                div.side-block__text
                    p At in sight sign company we specialize in creative high-quality affordable business signage solutions for customers of all types and in all industries.
                    p Since 2020, we have dedicated ourselves to a responsive customer-first approach in all of our services, and we will exceed your expectations every single time signs, banners and vehicle wraps that we produce for you

            div.side-block__img
                img(src="img/content/who-we-are/who2.png" alt="")

section.products
    div.container
        div.title-bordered.title--black
            p branding/ graphics/ wrapping/
            small our products

        div.products__content
            ul.products__block
                li.big Commercial branding
                li Truck
                li Trailer
                li Van

                li.big Car wrapping
                li Color change
                li Custom vinyl graphics
                li UV protection
                li Window/Lights tinting

            ul.products__block
                li.big Premiss Graphics
                li Wall graphics
                li Window graphics
                li Floor graphics

                li.big Decals/Signage
                li Banners
                li Signs

section.products.products--second
    div.container
        div.products__img
            img(src="img/content/who-we-are/who3.png" alt="")

        div.title-bordered.title--black
            p branding/ design/ webdesign/
            small our products

        div.products__content
            ul.products__block
                li.big Corporate Branding
                li Corporate Merch
                li Office
                li Handouts

                li.big Design/Printing
                li.big Web design

section.who-video
    div.container
        div.who-video__title
            div.title
                p Watch <span>video</span>
                small More content

        div.who-video__video
            button.who-video__play.btn-play

section.who-location
    div.who-location__line1
    div.who-location__line2

    div.container
        div.title-bordered
            p <span>Our</span> location
            small Address

        div.who-location__map
            img(src="img/content/who-we-are/who4.png" alt="")

section.main-brand
    .container
        a.main-brand__item(href="")
            img(src='img/content/main/logo.png', alt='')
        a.main-brand__item(href="")
            img(src='img/content/main/logo1.png', alt='')
        a.main-brand__item(href="")
            img(src='img/content/main/logo.png', alt='')
        a.main-brand__item(href="")
            img(src='img/content/main/logo1.png', alt='')
        a.main-brand__item(href="")
            img(src='img/content/main/logo.png', alt='')
        a.main-brand__item(href="")
            img(src='img/content/main/logo1.png', alt='')
        a.main-brand__item(href="")
            img(src='img/content/main/logo.png', alt='')