<!DOCTYPE html>
html
    include partials/head.pug

body
    include partials/header.pug

    include partials/car-wrapping/window-lights.pug

    include partials/footer.pug

    include partials/side-form.pug