<!DOCTYPE html>
html
    include partials/head.pug

body
    include partials/header.pug

    include partials/premiss-graphics/wall-graphics.pug

    include partials/footer.pug

    include partials/side-form.pug